---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import HomeSection from "../components/HomeSection.astro";
---

<Layout title="Tesla - El coche del de twiter">
  <main>
    <LandingHeader />

    <HomeSection />
  </main>
</Layout>
