<section
  class="landing-section bg-black h-screen w-full text-center relative overflow-hidden"
  data-header-color="black"
>
  <div class="relative z-30 h-full flex flex-col">
    <header>
      <h2 class="text-black pt-40 text-[40px] font-medium">
        Solar y Powerwall
      </h2>
      <p class="text-black text-sm font-medium">
        Programe una prueba de conducción hoy mismo
      </p>
    </header>

    <footer class="flex flex-grow justify-end flex-col items-center pb-10">
      <ul class="flex text-sm gap-10">
        <li
          class="text-white border-[3px] border-transparent rounded px-12 py-2 font-medium bg-black/80 backdrop:blur-md"
        >
          <a href="#">Saber más</a>
        </li>
      </ul>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <img src="./SolarPanel.avif" alt="PowerWall" class="h-full w-full object-cover object-center">
  </div>
</section>
