<section
  class="bg-black h-screen w-full text-center relative overflow-hidden"
>
  <div class="relative z-30 h-full flex flex-col">
    <header>
      <h2 class="text-white pt-40 text-[40px] font-medium">
        Disfrute de Tesla
      </h2>
      <p class="text-white text-sm font-medium">
        Programe una prueba de conducción hoy mismo
      </p>
    </header>

    <footer class="flex flex-grow justify-end flex-col items-center pb-10">
      <ul class="flex text-sm gap-10">
        <li
          class="text-black border-[3px] border-transparent rounded px-12 py-2 font-medium bg-white/80 backdrop:blur-md"
        >
          <a href="#">Pedido personalizado</a>
        </li>
      </ul>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 h-full w-full z-10">
    <video
      class="object-centers object-cover h-full w-full"
      autoplay
      muted
      loop
      src="/Demo.webm"></video>
  </div>
</section>
